`kubeconfig` file creation failed is due to not resolving `localhost`

`Aspire version: 8.0.0-preview.5.24151.3+20d98e3b6188452cb24451e4d5e2a3ac4019b85c`

Always used to get the https://github.com/dotnet/aspire/issues/2542 `kubeconfig file not found` error since the dawn of aspire while running on linux, installed the daily build today after https://github.com/dotnet/aspire/issues/2542 was closed, now a better error message is shown.

```
fail: Aspire.Hosting.Dcp.the program finished with an error[0]
      {"ExitCode": 1, "error": "unable to ensure existence of a Kubeconfig file: kubeconfig file creation failed: could not obtain IP address(es) for localhost: lookup localhost on 8.8.8.8:53: no such host"}
```
which is due to not resolving `localhost`

```
> host localhost
Host localhost not found: 3(NXDOMAIN)
```

Added the following entry to `/etc/hosts` 
```
127.0.0.1 localhost
```

Today, I ran an aspire project on my linux machine successfully for the first time, Cheers! 🥂 


cc @karolz-ms @dbreshears 

@jithu7432 thanks for letting us know, this is quite helpful. Was your machine deliberately configured without `localhost` defined? If so, why?

@DamianEdwards FYI

I use arch, and it comes with an empty hosts file out of the box, a safe resolution of `localhost` is provided by a different module as stated [here.](https://wiki.archlinux.org/title/Network_configuration#localhost_is_resolved_over_the_network)

OK. Looks like `localhost` name is treated as special by Go name resolution API and not involving the system DNS resolution facilities. Which is acceptable as far as I understand correctly the [RFC 6561 section 6.3](https://datatracker.ietf.org/doc/html/rfc6761#section-6.3). 

I am going to convert this to discussion so that others can find it and learn that a `localhost` entry is pretty much required for Aspire tooling to work.